

.ComponenteProcesso{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

.BoxIcone{
background-color: #fff;
padding: 1rem;
border-radius: 50%;
margin-bottom: 0.5rem;
}

.BoxTexto{
text-align: center;
padding: 0 0.5rem;


h3{
font-family: var(--fontSubTitulo);
font-size: var(--sizeSubtitulo);
font-weight: var(--weightSubTitulo);
color: #fff;
}

p{
font-family: var(--fontSubTitulo);
font-size: var(--sizeTexto);
color: #fff;   
}

}

}